<?xml version="1.0" encoding="utf-8"?>
<configuration>

<system.webServer>
  <httpErrors existingResponse="Replace" errorMode="Custom">
    <remove statusCode="404" subStatusCode="-1" />
    <error statusCode="404" prefixLanguageFilePath="" path="/CompleteGuide/index.html" responseMode="ExecuteURL" />
  </httpErrors>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		      <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
        </conditions>
		    <!-- BOTH WORKING -->
        <action type="Rewrite" url="./index.html" />
        <!-- <action type="Rewrite" url="./" /> -->
      </rule>
    </rules>
  </rewrite>
</system.webServer>
<system.web>
  <sessionState mode="Off" />
  <pages validateRequest="false" />
</system.web>

</configuration>
